<!DOCTYPE html>
<html>
<head>
    <title>Contact Menu</title>
    <style>
        body {
            text-align: center;
            font-family: serif;
            background-color: BEIGE;
            color: Darkred;
        }

        .header {
            color: Orange;
            font-size: 32px;
            margin-top: 121px;
            font-weight:bold;
        }


    </style>
</head>
<body>
    <div class="header">MENU:</div>
    <div class="message">
    
	<p><a href="{% url 'create_contact' %}">Create New Contact</a></p>
	<p><a href="{% url 'read_contact' %}">Read Contact</a></p>
	<p><a href="{% url 'update_contact' %}">Update Contact</a></p>
	<p><a href="{% url 'delete_contact' %}">Delete Contact</a></p>
    </div>
</body>
</html>

